* {
	box-sizing: border-box;
}

p.solid {
	border-style: solid;
	padding: 15px;
	background-color: #A29B82;
}

/* Style the body */
body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0;
}

/* Header/logo Title */
.header {
	padding: 80px;
	background-image: url("header.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.5;
	border-style: double;
	border-width: 5px;
	border-color: #504136;
	color: #FF650C;
}

/* Increase the font size of the heading */
.header h1 {
	font-size: 40px;
}

/* Increase the font size of the heading */
h2 {
	font-family: cursive; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26px; 
}

post {
	font-family: cursive; font-size: 24px; font-style: normal; 
	font-variant: normal;
	background-color: #A29B82;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	padding-right: 10px;
}

/*	Sticky navbar 

ul.navbar {
	position: sticky;
	position: -webkit-sticky;
}

*/

ul {
	list-style-type: none;
	position: sticky;			/* Browser sticky support */
	position: -webkit-sticky;	/* sticky support for IE */
	margin: 0;
	padding: 0;
	top: 0;
	height: 84px;				/* heigth of navbar */
	z-index:1000; 				/* add z-index */
	background-color: #313715;	/* navbar color */
}

li {
	float: left;
}

/* Navbar link style */
li a {
	display: block;
	color: #FFDDA1;
	text-align: center;
	font-size: 20px;
	padding: 16px 22px;
	text-decoration: none;
}

/* Active/current link */
ul.navbar li a.active {
	background-color: #666;  /* Homelink color */
	color: #504136;
}

li a, .dropbtn {
	display: inline-block;
	color: #FFDDA1;
	text-align: center;
	font-size: 16px;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 	 /* For vertical alignment on mobile */
	margin: 0;				 /* For vertical alignment on mobile */
	text-decoration: none;
}

/* Change color of non-active links when hovering */
ul.navbar li a:hover:not(.active) {
	background-color: #857E61;
}

/* Change color of dropdown menu when hovering */
li a:hover, .dropdown:hover .dropbtn {
	background-color: #A29B82;
	color: #504136;
}

li.dropdown {
	display: inline-block;
	color: #FFDDA1;
	background-color: #313715;
	font-size: 20px;
	text-align: center;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.dropdown-content {
	right: 0;
}

.dropdown-content a {
	color: #504136;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Column container */
.row {  
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

/* Create three unequal columns that sits next to each other */
/* Sidebar/left column */
.leftside {
	float: left;
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	background-color: #A29B82;
	padding: 20px;
}

/* Main column */
.main {   
	float: left;
	-ms-flex: 55%; /* IE10 */
	flex: 55%;
	background: #81523F; /* url("main_background.png") repeat; */
	padding: 20px;
}

/* Sidebar/right column 8*/
.rightside {
	float: left;
	-ms-flex: 15%;
	flex: 15%;
	background-color: #A29B82;
	padding: 20px;
}

/* Container holding the image and the text */
.container {
	position: relative;
}

.text-container {
	position: relative;
	text-align: center;
	color: black;
}
.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/* Bottom center text */
.text-block {
	position: absolute;
	bottom: 0px;
	width: 50%;
	color: #504136;
	background-color: #A29B82;
	opacity: 0.8;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.readmore { 
	display: block; 
	background: #26231f; 
	text-align: right; 
	padding: 9px 25px;
	color: #FFDDA1; 
	font-size: 10px; 
	display: block; 
	letter-spacing: 2px; 
	text-decoration: none; 
}

.readmore:after { 
	content:" ▶";
}

/* Footer */
.footer {
	padding: 0px;
	font-size: 10px;
	text-align: center;
	color: #FF650C;
	background: #474935;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 45px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	background: #3B5998;
	color: white;
}

/* Instagram */
.fa-instagram {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	color: white;
}

/* LinkedIn */
.fa-linkedin {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: #55ACEE;
	color: white;
}

/* YouTube */
.fa-youtube {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: red;
	color: white;
}

.fa-copyright {
	color: #FF650C;
}

/* 	Responsive layout - when the screen is less than 700px wide, 
	make the two columns stack on top of each other instead of 
	next to each other */
@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

/* 	Responsive layout - when the screen is less than 400px wide, 
	make the navigation links stack on top of each other instead 
	of next to each other */
@media screen and (max-width: 400px) {
	ul.navbar li.right,	
	ul.navbar li a {
		float: none;
		width: 100%;
	},

}

/* Navajo color pattern
	#504136 Dark liver
	#FFDDA1 Navajo white
	#44FFD2 Turquoise
	#857E61 Shadow
	#A29B82 Grullo
*/
