* {
	box-sizing: border-box;
}

/* Style the body */
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

/* Header/logo Title */
.header {
	padding: 80px;
	background-image: url("/Users/davidcbrownv/Downloads/Images/IMG_2153.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.5;
	color: #FF650C;
}

/* Increase the font size of the heading */
.header h1 {
	font-size: 40px;
}

/* Increase the font size of the heading */
h2 {
	font-family: cursive; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26px; 
}

/* 	Sticky navbar - toggles between relative and fixed, depending 
	on the scroll position. It is positioned relative until a given 
	offset position is met in the viewport - then it "sticks" in place 
	(like position:fixed). The sticky value is not supported in IE or 
	Edge 15 and earlier versions. However, for these versions the navbar 
	will inherit default position */
.navbar {
	overflow: hidden;
	background-color: #313715;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

/* Style the navigation bar links */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
	float: right;
}

/* Change color on hover */
.navbar a:hover {
	background-color: #ddd;
	color: black;
}

/* Active/current link */
.navbar a.active {
	background-color: #666;
	color: white;
}

/* Column container */
.row {  
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	background-color: #B2AA8E;
	padding: 20px;
}

/* Main column */
.main {   
	-ms-flex: 70%; /* IE10 */
	flex: 70%;
	background-color: #81523F;
	padding: 20px;
}

/* Footer */
.footer {
	padding: 0px;
	font-size: 10px;
	text-align: center;
	color: #FF650C;
	background: #474935;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 45px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: #3B5998;
	color: white;
}

/* Instagram */
.fa-instagram {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	color: white;
}

/* LinkedIn */
.fa-linkedin {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: #55ACEE;
	color: white;
}

/* YouTube */
.fa-youtube {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: red;
	color: white;
}

.fa-copyright {
	color: #FF650C;
}

/* Style buttons */
.btn {
  border: none; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #474935;
}

/* 	Responsive layout - when the screen is less than 700px wide, 
	make the two columns stack on top of each other instead of 
	next to each other */
@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

/* 	Responsive layout - when the screen is less than 400px wide, 
	make the navigation links stack on top of each other instead 
	of next to each other */
@media screen and (max-width: 400px) {
	.navbar a {
		float: none;
		width: 100%;
	  }
}