* {
	box-sizing: border-box;
}

p.solid {
	border-style: solid;
	padding: 15px;
	background-color: #A29B82;
}

/* Style the body */
body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0;
}

/* Header/logo Title */
.header {
	padding: 80px;
	background-image: url("header.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.5;
	color: #FF650C;
}

/* Increase the font size of the heading */
.header h1 {
	font-size: 40px;
}

/* Increase the font size of the heading */
h2 {
	font-family: cursive; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26px; 
}

/* 	Sticky navbar - toggles between relative and fixed, depending 
	on the scroll position. It is positioned relative until a given 
	offset position is met in the viewport - then it "sticks" in place 
	(like position:fixed). The sticky value is not supported in IE or 
	Edge 15 and earlier versions. However, for these versions the navbar 
	will inherit default position */
ul.navbar {
	list-style-type: none;
	overflow: hidden;
	background-color: #313715;
	position: sticky;
	position: -webkit-sticky;
	padding: 0;
	margin: 0;
	top: 0;
	height: 80px;
	z-index:1000; /* add z-index */
}

ul.navbar li {
	float: left;
}

/* Style the navigation bar links */
ul.navbar li a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}


/* Right-aligned link */
ul.navbar li.right {
	float: right;
}

/* Change color on hover */
ul.navbar li a:hover {
	background-color: #ddd;
	color: black;
}


ul.navbar li a:hover:not(.active) {
	background-color: #857E61;
}

/* Active/current link */
ul.navbar li a.active {
	background-color: #666; /* Homelink color */
	color: black;
}

/* Column container */
.row {  
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
}

/* Create three unequal columns that sits next to each other */
/* Sidebar/left column */
.leftside {
	float: left;
	-ms-flex: 30%; /* IE10 */
	flex: 30%;
	background-color: #A29B82;
	padding: 20px;
}

/* Main column */
.main {   
	float: left;
	-ms-flex: 55%; /* IE10 */
	flex: 55%;
	background: #81523F; /* url("main_background.png") repeat; */
	padding: 20px;
}

/* Sidebar/right column 8*/
.rightside {
	float: left;
	-ms-flex: 15%;
	flex: 15%;
	background-color: #A29B82;
	padding: 20px;
}

/* Container holding the image and the text */
.container {
	position: relative;
}

.text-container {
	position: relative;
	text-align: center;
	color: black;
}
.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/* Bottom center text */
.text-block {
	position: absolute;
	bottom: 0px;
	width: 50%;
	color: white;
	background-color: #A29B82;
	opacity: 0.8;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.readmore { 
	display: block; 
	background: #26231f; 
	text-align: right; 
	padding: 9px 25px;
	color: #eeecd9; 
	font-size: 10px; 
	display: block; 
	letter-spacing: 2px; 
	text-decoration: none; 
}

.readmore:after { 
	content:" ▶";
}

/* Footer */
.footer {
	padding: 0px;
	font-size: 10px;
	text-align: center;
	color: #FF650C;
	background: #474935;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 45px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	padding: 20px;
	font-size: 50px;
	width: 50px;
	background: #3B5998;
	color: white;
}

/* Instagram */
.fa-instagram {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	color: white;
}

/* LinkedIn */
.fa-linkedin {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: #55ACEE;
	color: white;
}

/* YouTube */
.fa-youtube {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	background: red;
	color: white;
}

.fa-copyright {
	color: #FF650C;
}

/* Style buttons */
.btn {
  border: none; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #A29B82;
}

/* 	Responsive layout - when the screen is less than 700px wide, 
	make the two columns stack on top of each other instead of 
	next to each other */
@media screen and (max-width: 700px) {
	.row {   
		flex-direction: column;
	}
}

/* 	Responsive layout - when the screen is less than 400px wide, 
	make the navigation links stack on top of each other instead 
	of next to each other */
@media screen and (max-width: 400px) {
	ul.navbar li.right,	
	ul.navbar li a {
		float: none;
		width: 100%;
	},

}

/* Navajo color pattern
	#504136 Dark liver
	#FFDDA1 Navajo white
	#44FFD2 Turquoise
	#857E61 Shadow
	#A29B82 Grullo
*/